*{
    font-family: "Microsoft YaHei UI";
    margin: 0;
    padding: 0;
}
:local ._bar{
    height: 2rem;
    position: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    background: #e3e3e3;
    bottom: 0px;
    color: #888;
    padding:0;
    font-size: .6rem !important;
    z-index: 9 !important;

}
:local ._bar>a{
    text-decoration: none;
    display: inline-block;
    padding:.2rem !important;
    flex: 1;
    color: #888;
}
:local .iconfont{
    font-size: 1rem !important;
}
:local ._bar>a p{

    font-size: .5rem;
    line-height: .6rem !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:local .onActive{
    color: #F59DBE !important;
}