:local .navBox{
    /*display:flex;*/
    flex-direction: row;
    width: 100%;
}
/*:local .navBox:after{content:".";display:block;height:0;clear:both;visibility:hidden}*/
/*:local .navBox{display:inline-table}*/
 /**html :local .navBox{height:1%}*/
/*:local .navBox{display:block}*/
 /**+html :local.navBox{min-height:1%}*/
:local .navBox>nav{
    /*flex: 1;*/
}
#wrapper{
    height: 93.5% !important;
}
:local ._nav{
    float: left;
    position: fixed;
    width: 30%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-face-color: #333

}
:local ._nav>ul>Li{
    padding: 1rem;
    background: #ececec;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}
:local .goodList{
    float: right;
    width: 70%;
    /*flex: 2;*/
    /*border: 1px solid red;*/
}